body {
    background-image: url("Cards background.png");
    background-size: 110%;
    background-position: center ;
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    top: 16%;
    left: 19.5%;
    text-align: center;
    width: 240px;
}

.profile-photo {
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 50%;
}

.intro-text {
    text-align: left;
    width: 100%;
    font-size: clamp(8px, 1.15vw, 24px);
    line-height: 1.3;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: #333333;
}

.menu {
    position: fixed;
    left: 45%;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu button {
    width: 140px;
    padding: 12px;
    font-size: 1.0vw;
    cursor: pointer;
}


/* right content */

.right-content {
    position: fixed;
    left: 64%;
    top: 20%;
    width: 25%;
    font-size: 1.0vw;
}

.content-image {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.content-image2 {
    width: 54%;
    height: auto;
    display: block;
    /* margin: 20px auto; */
    margin-top: 0px;
    margin-left: 45px;
}

/* hidden content */

.content {
    display: none;
}


/* active content */

.content.active {
    display: block;
}